<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ta.pendaftaransiswa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".InformasiActivity"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile Sekolah"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CekHasilActivity"
            android:label="Cek Hasil Seleksi"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".UpdatePendaftarnActivity" />
        <activity
            android:name=".DataPendaftaranActivity"
            android:label="Data Pendaftaran"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CalonPesertaActivity"
            android:label="Daftar Calon Peserta"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PendaftaranActivity"
            android:label="Form Pendaftaran"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>